@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --color-primary: #e1006e;
  /* Hồng đặc trưng Mailisa */
  --color-text-primary: #ffffff;
  --color-text-secondary: #7f143d;
  --color-primary-dark: #7f143d;
}

@font-face {
  font-family: "MTD Starcity";
  src: url("@/assets/fonts/MTD-Lazy-Ride-Script.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.font-starcity {
  font-family: "MTD Starcity", sans-serif;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .text-primary-dark {
    color: var(--color-text-secondary);
  }
  .border-primary {
    border-color: var(--color-primary);
  }
  .border-primary-dark {
    border-color: var(--color-text-secondary);
  }
}

input::placeholder {
  color: #a55976;
  opacity: 1; /* Firefox */
  font-size: 0.833rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.text-secondary {
  color: var(--color-text-secondary);
}

.service_item .btn {
  width: calc(50% - 0.417rem);
  box-shadow: 3px 3px 3px 0 rgba(91, 12, 74, 0.3);
  padding-left: 0.521rem;
  padding-right: 0.521rem;
  height: 2.34375rem;
  box-sizing: border-box;
}

.link_btn {
  font-size: 0.833rem;
  line-height: 1.354rem;
  font-style: italic;
  border: 1px solid #3c1026;
  -webkit-border-radius: 1.042rem;
  -moz-border-radius: 1.042rem;
  border-radius: 1.042rem;
  width: max-content;
  padding: 0 15px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: #3c1026;
  background: #fff;
}

.border-secondary {
  border-width: 3px;
  border-color: var(--color-text-secondary);
}

.text-gradient {
  background: -webkit-linear-gradient(
    0deg,
    #3c1026 10%,
    #d22d70 50%,
    #c45780 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

.hover-text-primary:hover {
  color: var(--color-primary);
}
/* Hover cho icon khi cùng group */
.group:hover .group-hover-text-primary {
  color: var(--color-primary);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 2px;
  background-color: #cedbff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    #3c1026 10%,
    #d22d70 25%,
    #d22d70 50%,
    #d22d70 75%,
    #3c1026 100%
  );
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.hr {
  background-image: linear-gradient(
    to right,
    #3c1026 0%,
    #d22d70 50%,
    #c45780 100%
  );
  height: 0.208rem;
}
